* {
  margin: 0;
  padding: 0;
}

.tempNow {
  text-align: center;
  margin-top: 200px;
}

.tempHour {
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}

.hourPrev {
  width: 100px;
}
