@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  font-family: "raleway";
  margin: 0;
  padding: 0;
  background-color: rgb(155, 207, 241);
}

.SearchBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(99, 142, 207);
}

input {
  width: 200px;
  margin: 20px;
  padding: 10px;
  word-spacing: 2px;
  letter-spacing: 1px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(99, 142, 207);
}

input:hover {
  border-bottom: 1px solid gray;
}

input[type="text"] {
  color: white;
  opacity: 0.9;
}

::placeholder {
  color: whitesmoke;
  opacity: 0.6;
}

button {
  padding: 10px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgb(50, 111, 202);
  opacity: 1;
  cursor: pointer;
  color:white;
  font-weight: bold;
}

.WeatherNow {
  margin-top: 25px;
  font-weight: bolder;
  text-align: center;
  font-size: 15px;
}

.TemperatureHourlyFlex{
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  justify-items: center;
  text-align: center;
}

.clear{
background-color: rgb(155, 207, 241);
opacity: ;
transition: 0.4 ease-out;
}

.rain{
background-color: rgb(155, 207, 241);
opacity: ;
transition: 0.4 ease-out;
}




